p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 25px;
    border-left: 5px solid #eee;
}